<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
		<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
		<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
		{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
		{{- end }}
		{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
		{{- end }}
		{{- if .Site.Params.twitter_cards }}
		{{ template "_internal/twitter_cards.html" . }}
		{{- end }}

		{{- $googleFontsLink := .Site.Params.googleFontsLink | default "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
		{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="dns-prefetch" href="//fonts.googleapis.com">
		<link rel="dns-prefetch" href="//fonts.gstatic.com">
		<link rel="stylesheet" {{ printf `href="%s"` $googleFontsLink | safeHTMLAttr }}>
		{{- end }}

		{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . | resources.Fingerprint }}
		<!-- {{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}} -->
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		{{ range .Site.Params.customCSS -}}
		<!-- <link rel="stylesheet" href="{{ . | relURL }}"> -->
		{{ $customCSS := resources.Get . | resources.Fingerprint }}
		<link rel="stylesheet" href="{{ $customCSS.RelPermalink }}">
		{{- end }}

		{{- with .OutputFormats.Get "rss" }}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
		{{- end }}

		{{ $androidChrome192 := resources.Get "ico/android-chrome-192x192.png" | resources.Fingerprint }}
		{{ $androidChrome512 := resources.Get "ico/android-chrome-512x512.png" | resources.Fingerprint }}
		{{ $appleTouchIcon := resources.Get "ico/apple-touch-icon.png" | resources.Fingerprint }}
		{{ $favicon16 := resources.Get "ico/favicon-16x16.png" | resources.Fingerprint }}
		{{ $favicon32 := resources.Get "ico/favicon-32x32.png" | resources.Fingerprint }}
		{{ $faviconIco := resources.Get "ico/favicon.ico" | resources.Fingerprint }}
		{{ $siteManifest := resources.Get "ico/site.webmanifest" | resources.Fingerprint }}

		<link rel="icon" type="image/png" sizes="192x192" href="{{ $androidChrome192.RelPermalink }}">
		<link rel="icon" type="image/png" sizes="512x512" href="{{ $androidChrome512.RelPermalink }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ $appleTouchIcon.RelPermalink }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16.RelPermalink }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.RelPermalink }}">
		<link rel="shortcut icon" href="{{ $faviconIco.RelPermalink }}">
		<link rel="manifest" href="{{ $siteManifest.RelPermalink }}">

		{{- if not .Site.IsServer }}
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9986005637768452"
			      crossorigin="anonymous"></script>
		{{- if hasPrefix .Site.GoogleAnalytics "G-" }}
		{{ template "_internal/google_analytics.html" . }}
		{{- else }}
		{{ template "_internal/google_analytics_async.html" . }}
		{{- end }}
		{{- end }}
		{{/* {{ partial "schema/logo-schema.html" . }} */}}
		{{/*
		{{ partial "schema/article-schema.html" . }}
		*/}}


	{{ partial "schema/og-schema.html" . }}
	{{ partial "schema/sitelinks-searchbox.html" . }}
	{{ partial "schema/breadcrumb-schema.html" . }}
	{{ if eq .Section "posts" }}
	     {{ partial "schema/list-item-schema.html" . }}
	{{ end }}
	{{ partial "schema/videoobject-schema.html" . }}


	{{/*
	{{ partial "schema/og-schema.html" . }}
	{{ if and (eq .Kind "page") (eq .Type "posts") }}
	[ PAGE ]
	{{ end }}
	{{ printf "%#s | %#s | %#s" .Kind .Type .Permalink }}

	{{ with .Site.Data.schema.organization }}
	{{ range .organization.sameAs }}
	{{ . }}
	{{ end }}
	{{ end }}

	{{ range where .Site.RegularPages "Section" "in" "post" }}
	[ {{ .Title }} |
	{{ .Permalink }} ]
	{{ end }}

	{{ if .Section }}
	    {{ printf "%#s | " .Kind }}
	        {{ range .Data.Pages }}
		    {{ .Title }}<br>
	        {{ end }}
	{{ end }}
	<br>
	<hr>
	<br>
	{{ printf "%#s" .Kind }}
	{{ if eq .Kind "list" }}
	    {{ printf "this is a list" }}
	{{ else if eq .Kind "page" }}
	    {{ printf "this is a page" }}
	{{ end }}
	*/}}

	</head>
	<body class="body">
		<div class="container container--outer">
			{{ block "header" . }}{{ partial "header.html" . }}{{ end }}
			<div class="wrapper flex">
				<div class="primary">
					{{ block "main" . }}
					{{ with .Content }}
					<div class="content main__content clearfix">
						{{ . }}
					</div>
					{{ end }}
					{{ end }}
				</div>
				{{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}
			</div>
			{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
		</div>
		<script async defer src="{{ "js/menu.js" | relURL }}"></script>
		{{ range .Site.Params.customJS -}}
		<script src="{{ . | relURL }}"></script>
		{{- end }}
		{{- partial "mathjax.html" . -}}
		<script src="https://unpkg.com/lunr/lunr.js"></script>
		{{ $searchScript := resources.Get "js/search.js" | resources.Fingerprint }}
		<script src="{{ $searchScript.RelPermalink }}" defer></script>
		{{ $touchScript := resources.Get "js/touch.js" | resources.Fingerprint }}

		{{- if not .Site.IsServer }}
		<script src="{{ $touchScript.RelPermalink }}" defer></script>
		{{- end }}
	</body>
</html>
