{{ define "cssStyles" }}
    {{- $style := resources.Get "css/homepage.css" | resources.ToCSS | resources.Minify | resources.Fingerprint -}} 
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{- $style := resources.Get "css/homepage.css" | resources.ToCSS | resources.Minify | resources.Fingerprint -}} 
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}


{{ define "left-sidebar" }}
	{{ partial "partials/aside/leftSideBar/leftSideBar.html" . }}
{{ end }}


{{ define "main" }}
	{{ partial "partials/main/featuredArticle.html" . }}
	{{ partial "partials/main/mainTrendingArticles.html" . }}
	{{ partial "partials/main/subTrendingArticles.html" . }}
{{ end }}


{{ define "right-sidebar" }}
	{{ partial "partials/aside/rightSideBar/rightSideBar.html" . }}
{{ end }}
