<div class="trending-content-main-container">
<h2 class="trending-content-main-headline"> TRENDING POSTS </h2>
<ul class="trending-main-items-list-container">
  {{ range . }}
  <li class="trending-main-item">
    <a class="trending-main-item-thumbnail-image-link" href="{{ .Permalink }}">
	{{ $currentDate := now.Format "20060102150405.999999999" }}
	{{ $dateHash := $currentDate | md5 }}
	{{ $subset := substr $dateHash 0 5 }}

        {{ $_tmp := .Resources.GetMatch "feature*" }}
        {{ if $_tmp }}
        {{ $feature := $_tmp.Fill "250x250 Smart webp q30" }}
        {{ $alt_ := replaceRE " " "-" (lower .Title) }}
        <a href="{{ .Permalink }}" class="top-post-image-link">
        <img class="trending-main-item-thumbnail-image-250x250" src="{{$feature.Permalink}}" alt="{{ $alt_ }}_featured-image" width=250px height=250px>
        </a>
        {{ end }}


	       {{ $maxLength := 60 }}
       {{ $__t := truncate $maxLength "" .Title}}


      <h2 class="trending-main-item-headline"><a class="trending-main-item-headline-link" href="{{ .Permalink }}">{{ $__t }}</a></h2>
      <p class="trending-main-item-summary">{{ .Summary }}</p>
      <p class="trending-main-authors-list">
      By:
      {{/*
	{{ range $index, $element := .Params.authors }}
	  {{ $authorTerm := index $.Site.Taxonomies.authors $element }}
	  {{ if $index }}, {{ end }}<a href="{{ $authorTerm.Permalink }}">{{ $element }}</a>
	{{ end }}
	*/}}
      </p>
  </li>
  {{ end }}
</ul>
</div>
