{{/* Get all posts and exclude topPosts */}}
{{ $pages := where .Site.RegularPages "Type" "eq" "posts" }}
{{ $pages = where $pages "Params.topPost" "ne" true }}

{{/* Get topPosts separately */}}
{{ $topArticles := where .Site.RegularPages "Params.topPost" "eq" true }}

{{ .Scratch.Set "topArticles" $topArticles }}

{{ $featuredCount := 1 }}
{{ $recentPostsCount := .Site.Params.recentPostsCount }}
{{ $mainTrendingCount := .Site.Params.mainTrendingCount }}
{{ $subTrendingCount := .Site.Params.subTrendingCount }}

{{/* Get featured article */}}
{{ $featuredArticle := first $featuredCount $pages }}
{{ .Scratch.Set "featuredArticle" $featuredArticle }}

{{/* Get recent posts, main trending, and sub trending posts */}}
{{ $startIndex := $featuredCount }}
{{ $recentArticles := first $recentPostsCount (after $startIndex $pages) }}
{{ .Scratch.Set "recentArticles" $recentArticles }}

{{ $startIndex = add $startIndex $recentPostsCount }}
{{ $mainTrendingArticles := first $mainTrendingCount (after $startIndex $pages) }}
{{ .Scratch.Set "mainTrendingArticles" $mainTrendingArticles }}

{{ $startIndex = add $startIndex $mainTrendingCount }}
{{ $subTrendingArticles := first $subTrendingCount (after $startIndex $pages) }}
{{ .Scratch.Set "subTrendingArticles" $subTrendingArticles }}

{{/* Get all other articles after the sub trending articles */}}
{{ $startIndex = add $startIndex $subTrendingCount }}
{{ $otherArticles := after $startIndex $pages }}
{{ .Scratch.Set "otherArticles" $otherArticles }}

