{{/* tools/generate-feature-images.html */}}

{{ $pageTitle := .Title | urlize }}
{{ $.Scratch.Set "pageTitle" $pageTitle }}
{{ $.Scratch.Set "image" nil }}
{{ with .Resources.Get "feature.jpg" }}
    {{ $.Scratch.Set "image" . }}
{{ else }}
    {{ $.Scratch.Set "image" (resources.Get "fallback-feature.jpg") }}
{{ end }}

{{ $image := $.Scratch.Get "image" }}
{{ $sizes := (slice "480x50" "960x100" "1920x200") }}
{{ $qualities := (slice "q55" "q70" "q85") }}
{{ $formats := (slice "jpg" "jpg" "jpg" "webp" "webp" "webp") }}

{{ range $index, $size := $sizes }}
    {{ $format := index $formats $index }}
    {{ $quality := index $qualities $index }}
    {{ $filledImage := $image.Fill (print $size " smart " $format " " $quality) }}
    {{ $fileName := printf "%s-%s.%s" $pageTitle (index (slice "small" "medium" "large") $index) $format }}
    {{ $copiedImage := resources.Copy $fileName $filledImage }}
    {{ $.Scratch.Set (print $format (index (slice "Small" "Medium" "Large") $index)) $copiedImage }}
{{ end }}

