.body-container {
	display: grid;
	grid-template-columns: 6fr 23fr 5fr;
	grid-template-rows: auto 1fr auto;
	grid-column-gap: 0.125em;
}
.header-container {
	box-sizing: border-box;
  	grid-column: 1 / -1;
	background-color: #0E171B;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 1em;
}
.site-title {
	grid-column: 1/ -1;
	grid-row: 1/ 1;
	justify-items: center;
	justify-self: center;
	font-weight: 900;
	font-size: 96px;
	color: #37C1DE;
	padding: 0px;
	margin: 0px;
}
.main-menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-menu-item {
	font-size: 24px;
	font-weight: 900;
	color: #EAECEB;
	margin-right: 28px;
}
.main-menu-item-link.active {
	text-decoration: underline solid #FECC61 5px;
}
.left-sidebar {
	grid-row-start: 4;
	grid-column-start: 1;
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: min-content;
}
.top-post-header {
	grid-column: 1/ -1;
	font-weight: 900;
	font-size: 48px;
	justify-self: center;
}
.top-posts-list {
	grid-column: 1/ -1;
	display: grid;
	grid-template-columns: repeat(8, minmax(10px, 1fr));
	grid-template-rows: minmax(auto, min-content);
}
.top-post-item {
	grid-column: 1/ -1;
	margin-bottom: 1.5em;
}
.top-post-headline {
	margin-left: 0.25em;
	font-weight: 800;
	font-size: 26px;
	margin-bottom: 0.25em;
}
.top-post-intro {
	text-indent: 1em;
	font-weight: 200;
	line-height: 145%;
	font-size: 20px;
}
.right-sidebar {
	grid-row-start: 4;
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: minmax(auto, min-content);
}
.recent-posts-list {
	grid-column: 1/ -1;
	display: grid;
	grid-template-columns: repeat(8, minmax(10px, 1fr));
	grid-template-rows: minmax(auto, min-content);
	max-height: 920px;
}
.recent-post-header {
	grid-column: 1/ -1;
	font-weight: 900;
	font-size: 40px;
	justify-self: center;
}
.recent-post-item {
	grid-column: 1/ -1;

	display: grid;
	grid-template-columns: repeat(16, minmax(10px, 1fr));
	grid-template-rows: minmax(auto, min-content);
	grid-column-gap: 0.15em;
	margin-bottom: 0.20em;
}
.recent-post-item-header-image-link {
	grid-column: 1/ 5;
}
.recent-post-item-header-image {
	width: 100%;
}

.recent-post-item-headline {
	grid-column: 5/ -1;
	font-size: 18px;
}

.main-container {
	grid-row-start: 4;
	display: grid;
	grid-template-columns: repeat(16, minmax(10px, 1fr));
	grid-template-rows: min-content;
	grid-column-gap: 0.25em;
}
.feature-article-homepage {
	grid-column: 1/ -1;

	display: grid;
	grid-template-columns: repeat(16, minmax(5px, 1fr));
	grid-template-rows: minmax(auto, min-content);
}
.feature-post-feature-image-link {
	grid-column: 1/ -1;
	grid-row: 1/ 8;
}
.feature-article-image {
	grid-column: 1/ -1;
	width: 100%;
	height: 100%;
}
.feature-article-headline-container {
	grid-column: 1/ -1;
	grid-row: 4/ 8;
	background-color: rgba(14, 23, 27, 0.75);
}
.feature-article-headline {
	font-size: 38px;
	font-weight: 900;
	padding-left: 0.25em;
	color: #EAECEB;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
.feature-article-headline-highlighted-word {
	text-transform: uppercase;
	color: #3EC9E4;
}
.feature-article-intro {
	font-size: 18px;
	text-indent: 1em;
	line-height: 175%;
	color: #EAECEB;
	padding-left: 0.5em;
	padding-right: 0.25em;
	padding-bottom: 0.5em;
}
.feature-article-intro::first-letter {
	font-size: 24px;
  	font-size: 1.25em;
	font-weight: 900;
	color: #3EC9E4;
}
.feature-article-continue {
	font-size: 20px;
	font-weight:900;
	color: #FFCD6D;
	/* background-color: #0f171a; */
}
.main-trending-post-homepage {
	grid-column: 1/ -1;
	grid-row: 5/ 5;

	display: grid;
	grid-template-columns: repeat(24, minmax(10px, 1fr));
}
.main-trending-post-section-headline {
	grid-column: 1/ -1;
	justify-self: center;
	font-weight: 900;
	font-size: 96px;
	color: #0e171b;
	margin-top: 0.25em;
	margin-bottom: -0.25em;
}
.main-trending-posts {
	grid-row: 2/ 24;
	grid-column: 1/ -1;
	display: grid;
	grid-template-columns: repeat(8, minmax(10px, 1fr));
	grid-template-rows: minmax(min-content, auto);
	grid-row-gap: 0.25em;
	grid-column-gap: 0.25em;
	grid-auto-flow: row;
}
.main-trending-post-item.item-1 h2 {
	font-size: 38px;
	padding-left: 0.25em;
}
.main-trending-post-item.item-1 {
	grid-column: span 6;
	grid-row: span 4;
}
.main-trending-post-item.item-2 {
	grid-column: 7/ -1;
	grid-row: span 2;
}
.main-trending-post-item {
	grid-column: span 2;
	grid-row: span 2;
	margin-bottom: 1em;

	display: grid;
	grid-template-columns:  repeat(12, minmax(5px, 1fr));
	grid-template-rows:  minmax(auto, min-content);
	grid-auto-flow: column;
}
.main-trending-post-headline {
	padding: 0.5em;
	font-size: 18px;
	font-weight: 900;
	grid-column: 1/ -1;
	grid-row: 1/ 2;
	z-index: 1;
        background-color: rgba(14, 23, 27, 0.85) ; /* #EDEEF0 with 75% transparency */
        color: #eaeceb;
}
.main-trending-post-image-link {
	grid-column: 1/ -1;
	grid-row: 1/ 6;
}
.main-trending-post-image-frame {
	/* background-color: red; */
	grid-column: 1/ -1;
	grid-row: 1/ 6;
	width: 100%;
}
.main-trending-post-item.item-1 .main-trending-post-image {
	min-width: 100%;
	height: auto;
}
.main-trending-post-image {
	min-width: auto;
	min-height: 100%;
}

.sub-trending-posts {
	grid-column: 1/ -1;
	grid-row: 10/ 24;

	display: grid;
	grid-template-columns: repeat(24, minmax(10px, 1fr));
	grid-template-rows:  minmax(auto, min-content);
	grid-auto-flow: column;
}
.sub-trending-post-item {
	grid-column: 1/ -1;
	margin-bottom: 1.5em;
	display: grid;
	grid-template-columns: repeat(12, minmax(10px, 1fr));
}
.sub-trending-post-headline {
	grid-column: 1/ -1;
	justify-self: center;
}
.sub-trending-post-image-link {
	grid-column: 1/ -1;
}
.sub-trending-post-image-frame {
	grid-column: 1/ -1;
	width: 100%;
	height: auto;
}



.footer-container {
  	grid-column: 1 / -1;
	grid-row-start: 20;
	background-color: #0e171b;
	color: #eaeceb;
}

