{{- if .Param "authorbox" }}
{{ $authors := .Site.Data.authors }}

{{ $site := .Site }}
{{ range .Site.Data.combined.jobs }}
    {{ $formats := .settings.formats }}
    {{ range .image_types }}
        {{ $link      := .link       }}
	{{ $postfixes := .postfixes  }}
	{{ $sizes     := .sizes      }}
	{{ $ratios    := .ratios     }}
	{{ $title     := .title      }}
	{{ $local_dir := .local_dir  }}
        {{ with index $authors $link }}
	<div class="authorbox clearfix">
	    {{- if and (not $site.Author.avatar) (not $site.Author.name) (not $site.Author.bio) }}
	    <p class="authorbox__warning">
		<strong>WARNING:</strong> Authorbox is activated, but [Author] parameters are not specified.
	    </p>
	    {{- end }}

	    {{/* {{- $tn := printf "%s/%s-%s%s.%s" $data.output.local_dir $title ($postfix| upper) ($format | upper) $format }} */}}
	    <picture class="authorbox__avatar">
		{{ range $format := $formats }}
		    {{ range $index, $size := $sizes }}
		    {{ $post := index $postfixes $index }}
		    {{ $filename := printf "%s/%s-%s%s.%s" ($local_dir) ($title|urlize) ($post|upper) ($format|upper) ($format) }}
			{{ $postfix := index $postfixes $index }}
			<!-- <source media="(min-width: {{ index (split $size "x") 0 }}px)" srcset="{{ $filename }} {{ index (split $size "x") 0 }}w" type="image/{{ $format }}"> -->
			<source 
			    media="(min-width: {{ index (split $size "x") 0 }}px)" 
			    sizes="(min-width: {{ index (split $size "x") 0 }}px) {{ index (split $size "x") 1 }}vw" 
			    srcset="{{ $filename }} {{ index (split $size "x") 0 }}w" 
			    type="image/{{ $format }}">
		    {{ end }}
		{{ end }}


		<!-- Fallback JPG image with AM postfix -->
		{{ $fallbackWidth    :=  ""  }}
		{{ $fallbackHeight   :=  ""  }}
		{{ $_index           := 3    }}
		{{ $post             := index $postfixes $_index }}
		{{ $format           := index $formats $_index }}

		{{ $fallbackFilename := printf "%s/%s-%s%s.%s" ($local_dir) ($title|urlize) ($post|upper) ($format|upper) ($format) }}


		{{ $mediumImage := index $sizes $_index }}
		{{ $fallbackWidth =  index (split $mediumImage "x") 0 }}
		{{ $fallbackHeight =  index (split $mediumImage "x") 1 }}
		<!-- <img alt="{{ $site.Author.name }} avatar" src="{{ $fallbackFilename }}" class="avatar" width="90" height="90"> -->
		<img alt="{{ $site.Author.name }} avatar" src="{{ $fallbackFilename }}" class="avatar" 
		sizes="(min-width: {{ index (split $mediumImage "x") 0 }}px) {{ index (split $mediumImage "x") 1 }}vw" width="{{$fallbackWidth}}" height="{{$fallbackHeight}}">

	    </picture>


	    {{- with $site.Author.name }}
	    <div class="authorbox__header">
		<span class="authorbox__name">{{ T "authorbox_name" (dict "Name" .) }}</span>
	    </div>
	    {{- end }}

	    {{- with $site.Author.bio }}
	    <div class="authorbox__description">
		{{ . | markdownify }}
	    </div>
	    {{- end }}
	</div>
        {{ end }}
    {{ end }}
{{ end }}
{{- end -}}
