{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}
{{- $logoMix := and $logoImage $logoTitle -}}

{{ $site := .Site }}
{{ range .Site.Data.combined.jobs }}
    {{ $formats := .settings.formats }}
    {{ range .image_types }}
        {{ $name      := .name       }}
        {{ $link      := .link       }}
	{{ $postfixes := .postfixes  }}
	{{ $sizes     := .sizes      }}
	{{ $ratios    := .ratios     }}
	{{ $title     := .title      }}
	{{ $local_dir := .local_dir  }}
	{{ if in $name "Org Logo"    }}
	{{ $fallbackFilename :=  ""  }}
	{{ $fallbackWidth    :=  ""  }}
	{{ $fallbackHeight   :=  ""  }}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		<a class="logo__link" href="{{ "" | relLangURL }}" title="{{ $logoTitle }}" rel="home">
			<div class="logo__item logo__imagebox">
				<picture>
					{{ range $format := $formats }}
					    {{ range $index, $size := $sizes }}
					    {{ $post := index $postfixes $index }}
					    {{ $filename := printf "%s/%s-%s%s.%s" ($local_dir) ($title|urlize) ($post|upper) ($format|upper) ($format) }}
						{{ $postfix := index $postfixes $index }}
						<!-- <source media="(min-width: {{ index (split $size "x") 0 }}px)" srcset="{{ $filename }} {{ index (split $size "x") 0 }}w" type="image/{{ $format }}"> -->
						<source 
						    media="(min-width: {{ index (split $size "x") 0 }}px)" 
						    sizes="(min-width: {{ index (split $size "x") 0 }}px) {{ index (split $size "x") 1 }}vw" 
						    srcset="{{ $filename }} {{ index (split $size "x") 0 }}w" 
						    type="image/{{ $format }}">
					    {{ end }}
					{{ end }}
					<!-- Fallback JPG image with AM postfix -->

					<!-- Fallback JPG image with AM postfix -->
					{{ $_index           := 3    }}
					{{ $post             := index $postfixes $_index }}
					{{ $format           := index $formats $_index }}

					{{ $fallbackFilename = printf "%s/%s-%s%s.%s" ($local_dir) ($title|urlize) ($post|upper) ($format|upper) ($format) }}
					{{ $.Scratch.Set "OrganizationLogo" $fallbackFilename }}
					{{ $mediumImage := index $sizes $_index }}
					{{ $fallbackWidth =  index (split $mediumImage "x") 0 }}
					{{ $fallbackHeight =  index (split $mediumImage "x") 1 }}
					<img alt="{{ $site.Title }} Organization Logo" src="{{ $fallbackFilename }}" class="avatar" 
					sizes="(min-width: {{ index (split $mediumImage "x") 0 }}px) {{ index (split $mediumImage "x") 1 }}vw" width="{{$fallbackWidth}}" height="{{$fallbackHeight}}">
				</picture>
			</div>
			{{ with $logoTitle }}
				<div class="logo__item logo__text">
					<div class="logo__title">{{ . }}</div>
					{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
				</div>
			{{ end }}
		</a>
	</div>
	{{ end }}
        {{ end }}
{{ end }}
