{{- $combined := .site.Data.combined -}}
{{- $data := ( index $combined.jobs 0 ) -}}

{{- if $thumbnail := .page.Params.thumbnail }}
{{- $class := .class }}
{{- $fallback := "" }}


{{ $title := .page.Title }}
{{ $title = replace $title "'" "-" }}
{{ $title = replace $title "u.s." "us" }}
{{ $title = replace $title "US" "us" }}
{{ $title = replace $title "U.S." "us" }}
{{ $title = replace $title "vs." "vs" }}
{{ $title = $title | urlize }}


{{/*
[ {{ $title }} ]
{{- $title := .page.Title | urlize }}
*/}}

{{- $alt := $title | lower | replaceRE "[^a-z0-9\\s]" " " }}
{{- $thumbnailAlt := printf "%s thumbnail srcset fallback photo" $alt }}
{{- $headerAlt := printf "%s splash srcset fallback photo" $alt }}

{{- $imageType := (index $data.image_types 0) }}  {{/* Default to thumbnail */}}
{{- if eq $class "post" }}
{{- $imageType = (index $data.image_types 1) }}  {{/* Switch to header if class is post */}}
{{- end }}

{{- $_index := 1 -}}
{{- $fallbackSize := "" }}
{{- $fallbackRatio := ""}}
{{- $fallbackWidth := "" }}
{{- $fallbackHeight := "" }}
{{- $fallbackRatioWidth := "" }}
{{- $fallbackRatioHeight := "" }}
{{- $fallbackAspectRatio := "" }}
{{- $Width := "" }}
{{- $Height := "" }}


{{- $fbWidth       := 0 }}
{{- $fbHeight      := 0 }}
{{- $fbRatio       := 0 }}
{{- $fbRatioWidth  := 0 }}
{{- $fbRatioHeight := 0 }}

<picture class="{{ $class }}__thumbnail thumbnail">
	{{- range $format := $data.settings.formats }}
	{{- range $index, $postfix := $imageType.postfixes }}
	{{- $tn := printf "%s/%s-%s%s.%s" $data.output.local_dir $title ($postfix| upper) ($format | upper) $format }}
	{{- if and (eq $postfix (index $imageType.postfixes $_index)) (eq $format "jpeg") }}
	{{- $fallback = $tn }}
	{{/* [ "FALLBACK INDEX POSTFIX -- {{ $postfix }} -- ] */}}

	{{- $fallbackSize = index $imageType.sizes $_index }}
	{{- $fallbackWidth = index (split $fallbackSize "x") 0 }}
	{{- $fallbackHeight = index (split $fallbackSize "x") 1 }}
	{{- $fallbackRatio = index $imageType.ratios $_index }}
	{{- $fallbackRatioWidth = index (split $fallbackRatio ":") 0 }}
	{{- $fallbackRatioHeight = index (split $fallbackRatio ":") 1 }}

	{{- $fallbackAspectRatio = div ($fallbackRatioWidth | float) ($fallbackRatioHeight | float) }}

	{{- if eq $fallbackWidth "0" }}
	{{- $fallbackWidth = mul ($fallbackHeight | float) $fallbackAspectRatio }}
	{{- end }}

	{{- if eq $fallbackHeight "0" }}
	{{- $fallbackHeight = div ($fallbackWidth | float) $fallbackAspectRatio }}
	{{- end }}

	{{- end }}


	{{- $size        := index $imageType.sizes $index }}
	{{- $Width       := index (split $size "x") 0 }}
	{{- $Height      := index (split $size "x") 1 }}
	{{- $ratio       := index $imageType.ratios $index }}
	{{- $ratioWidth  := index (split $ratio ":") 0 }}
	{{- $ratioHeight := index (split $ratio ":") 1 }}

	{{- if or (not $Height) (le ($Height | int) 1) }}
	{{- $Height = mul ($Width | float) (div ($ratioHeight | float) ($ratioWidth | float)) }}
	{{ end }}

	{{- if or (not $Width) (le ($Width | int) 1) }}
	{{- $Width = mul ($Height | float) (div ($ratioWidth | float) ($ratioHeight | float)) }}
	{{- end }}
	<!-- sizes="(min-width: {{ index (split $size "x") 0 }}px) {{ index (split $size "x") 1 }}vw" -->
	<source 
	    media="(min-width: {{ index (split $size "x") 0 }}px)" 
	    srcset="{{ $tn }} {{ index (split $size "x") 0 }}w" 
	    width="{{ $Width  }}"
	    height="{{ $Height }}"
	    type="image/{{ $format }}">
	{{- end }}
	{{- end }}



	<!-- <img class="thumbnail__image" src="{{ $fallback }}" alt="{{ $thumbnailAlt }}"> -->
	{{- if eq $class "list" }}
	{{ $_index       := 2 }}
	{{- $size        := index $imageType.sizes $_index }}
	{{- $Width       := index (split $size "x") 0 }}
	{{- $Height      := index (split $size "x") 1 }}
	{{- $ratio       := index $imageType.ratios $_index }}
	{{- $ratioWidth  := index (split $ratio ":") 0 }}
	{{- $ratioHeight := index (split $ratio ":") 1 }}

	{{- if or (not $Height) (le ($Height | int) 1) }}
	{{- $Height = mul ($Width | float) (div ($ratioHeight | float) ($ratioWidth | float)) }}
	{{ end }}

	{{- if or (not $Width) (le ($Width | int) 1) }}
	{{- $Width = mul ($Height | float) (div ($ratioWidth | float) ($ratioHeight | float)) }}
	{{- end }}
	{{/* [ "FALLBACK LIST INDEX POSTFIX -- {{ $_index }} -- ] */}}
	<a class="thumbnail__link" href="{{ $.page.RelPermalink }}">
		<img class="thumbnail__image" 
		src="{{ $fallback }}"
		alt="{{ $thumbnailAlt }}"
	        width="{{ $Width }}"
	        height="{{ $Height }}">
	</a>
	{{- else }}
	<!-- <img class="thumbnail__image" src="{{ $fallback }}" alt="{{ if eq $class "list" }}{{ $thumbnailAlt }}{{ else }}{{ $headerAlt }}{{ end }}"> -->
	{{- $size_        := 0 }}
	{{- $width_       := 0 }}
	{{- $height_      := 0 }}
	{{- $ratioWidth_  := 0 }}
	{{- $ratioHeight_ := 0 }}

	{{- $size_         = index $imageType.sizes $_index }}
	{{- $width_        = index (split $size_ "x") 0 }}
	{{- $height_       = index (split $size_ "x") 1 }}

	{{- $ratio_       := index $imageType.ratios $_index }}
	{{- $ratioWidth_  = index (split $ratio_ ":") 0 }}
	{{- $ratioHeight_ = index (split $ratio_ ":") 1 }}

	{{- if or (not $height_) (le ($height_ | int) 1) }}
	{{- $height_ = mul ($width_ | float) (div ($ratioHeight_ | float) ($ratioWidth_ | float)) }}
	{{ end }}

	{{- if or (not $width_) (le ($width_ | int) 1) }}
	{{- $width_ = mul ($height_ | float) (div ($ratioWidth_ | float) ($ratioHeight_ | float)) }}
	{{- end }}
	<img class="thumbnail__image" src="{{ $fallback }}" 
				      alt="{{ if eq $class "list" }}{{ $thumbnailAlt }}{{ else }}{{ $headerAlt }}{{ end }}" 
				      width="{{ $width_ }}"
				      height="{{ $height_ }}">
	{{- end }}
</picture>
{{- end }}

