{{- if $thumbnail := .page.Params.thumbnail }}
	{{- $class := .class }}
	{{- $visibility := .page.Site.Params.thumbnail.visibility | default (slice "list" "post") }}

	{{- $valueType := printf "%T" $thumbnail -}}
	{{- $isMap := in $valueType "map" -}}
	{{- if $isMap }}
		{{ $visibility = default (slice "list" "post") (default .page.Site.Params.thumbnail.visibility $thumbnail.visibility) }}
		{{ $thumbnail = $thumbnail.src }}
	{{- end }}

	{{ $title := .page.Title | urlize }}
	{{ $originalImage := .page.Resources.GetMatch "feature.jpg" }}
	<picture class="{{ with $class }}{{ . }}__thumbnail {{ end }}thumbnail">
		[ {{ $class }} ]
	    {{ if eq $class "list" }}
	    <a class="thumbnail__link" href="{{ .page.RelPermalink }}">
	    {{ end }}
	    <img class="thumbnail__image" src="{{ $originalImage.RelPermalink }}" alt="{{ .page.Title }}">

	    {{ if eq $class "list" }}</a>{{ end }}
	</picture>

{{ end }}
