{{ range .Site.RegularPages }}
{{- if $thumbnail := .Params.thumbnail }}
	{{- $visibility := .Site.Params.thumbnail.visibility | default (slice "list" "post") }}
	{{- $valueType := printf "%T" $thumbnail -}}
	{{- $isMap := in $valueType "map" -}}

	{{- if $isMap }}
		{{- $visibility = default (slice "list" "post") (default .Site.Params.thumbnail.visibility $thumbnail.visibility) }}
		{{- $thumbnail = $thumbnail.src }}
	{{- end }}

	{{- $title := .Title | urlize }}
	{{- $originalImage := .Resources.GetMatch "feature.jpg" }}

	{{- if $originalImage }}
		{{/*
		{{- $imageFormats := slice "JPG" "WEBP" "PNG" }}
		{{- $imageSizes := slice "largeT" "mediumT" "smallT" "extraSmallT" "largeH" "mediumH" "smallH" "extraSmallH" }}
		{{- $imageDimensions := slice "1280x720" "640x360" "320x180" "160x90" "1280x" "640x" "320x" "160x" }}
		*/}}
		{{- $imageFormats := slice "JPG" }}
		{{- $imageSizes := slice "largeT" "mediumT" }}
		{{- $imageDimensions := slice "1280x720" "1280x" }}


		{{- range $index, $size := $imageSizes }}
		[ {{ printf "Original Image: %s" $originalImage }} ]
		{{- end }}
	{{- end }}
{{- end }}
{{ end }}

