{{/*
  <h2 class="top-post-title">TOP POSTS</h2>
  <ul class="top-posts-list">
    {{ range sort . ".Permalink" "desc" }}
    <li class="top-post-item">

    {{ $currentDate := now.Format "20060102150405.999999999" }}
    {{ $dateHash := $currentDate | md5 }}
    {{ $subset := substr $dateHash 0 5 }}


    {{ $_tmp := .Resources.GetMatch "feature*" }}
    {{ if $_tmp }}
    {{ $feature := $_tmp.Fill "300x300 Smart webp q30" }}
    {{ $alt_ := replaceRE " " "-" (lower .Title) }}


    {{ $permalink := "{{$feature.Permalink}}" }}


    {{/*
    {{ $generatedImage := where .Site.RegularPages "Permalink" $permalink | first 1 }}
    {{ $firstGeneratedImage := index $generatedImage 0 }}

    {{ $generatedImagePath := absURL $firstGeneratedImage.RelPermalink }}
    {{ $currentExtension := path.Ext $generatedImagePath }}
    {{ $newFilename := "this is not a test" }}
    {{ $newImagePath := replace $generatedImagePath $firstGeneratedImage.Name (printf "%s%s" $newFilename $currentExtension) }}


    Generated Image Path: {{ $generatedImagePath }}
    New Image Path: {{ $newImagePath }}
    {{ "------------------------------------------------------" }}
    <h1>{{ $feature.Permalink }}</h1>
    */}}



    <a href="{{ .Permalink }}" class="top-post-image-link">
    <img class="top-post-thumbnail-image-300x300" src="{{$feature.Permalink}}" alt="{{ $alt_ }}_featured-image" width=300px height=300px>
    </a>
    {{ end }}



    {{/*
    <a href="{{ .Permalink }}"><img class="top-post-thumbnail-image" src="https://picsum.photos/seed/{{ $subset }}/300" alt="Post Image"></a>
    */}}

    {{ $maxLength := 60 }}
    {{ $__t := truncate $maxLength "" .Title}}

      <div class="top-post-text-container">
	<h2 class="top-post-headline"><a href="{{ .Permalink }}">{{ $__t }}</a></h2>
        <p class="top-post-authors-list">By:
	{{/*
	{{ range $index, $element := .Params.authors }}
	  {{ $authorTerm := index $.Site.Taxonomies.authors $element }}
	  {{ if $index }}, {{ end }}<a class="top-post-authors-list" href="{{ $authorTerm.Permalink }}">{{ $element }}
	  </a>
	  {{ end }}
	  */}}
	  <p class="top-post-intro">{{ .Summary }}</p>
	  <a href="{{ .Permalink }}"><button class="read-top-post-button">Continue Reading..</button></a>
      </div>
    </li>
    {{ end }}
  </ul>
*/}}
