{{- $pc := .Page.Site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
{{- $ytHost := cond $pc.PrivacyEnhanced  "www.youtube-nocookie.com" "www.youtube.com" -}}
{{- $id := .Get "id" | default (.Get 0) -}}
{{- $class := .Get "class" | default (.Get 1) -}}
{{- $title := .Get "title" | default "YouTube Video" }}
{{- $altText := printf "%s - YouTube video providing more details" (.Page.Title | urlize) }}

<div {{ with $class }}class="{{ . }}"{{ else }}style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; transition: opacity 0.3s;"{{ end }}>
  <!-- Thumbnail Placeholder -->
<img 
    src="https://img.youtube.com/vi/{{ $id }}/hqdefault.jpg" 
    srcset="
        https://img.youtube.com/vi/{{ $id }}/mqdefault.jpg 320w,
        https://img.youtube.com/vi/{{ $id }}/hqdefault.jpg 480w,
        https://img.youtube.com/vi/{{ $id }}/sddefault.jpg 640w,
        https://img.youtube.com/vi/{{ $id }}/maxresdefault.jpg 1280w"
    sizes="(max-width: 320px) 280px, 
           (max-width: 480px) 440px, 
           (max-width: 640px) 600px, 
           1280px" 
    alt="{{ $altText }}" 
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; max-width: 1270px; max-height: 720px; cursor: pointer;" 
    onclick="loadVideo('{{ $id }}', this)">

  <!-- SVG Play Button -->
  <svg aria-label="Play video" role="button" tabindex="0" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px; cursor: pointer;" onclick="loadVideo('{{ $id }}', this)" viewBox="0 0 24 24">
    <rect x="0" y="0" width="24" height="24" rx="4" ry="4" fill="#FF0000"></rect>
    <path d="M6 4l15 8-15 8z" fill="#FFFFFF"></path>
  </svg>

  <iframe data-src="https://{{ $ytHost }}/embed/{{ $id }}?rel=0{{ with .Get "autoplay" }}{{ if eq . "true" }}&autoplay=1{{ end }}{{ end }}" style="display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="{{ $title }}" loading="lazy"></iframe>
</div>

<script>
function loadVideo(videoId, element) {
    var container = element.parentElement; // Get the parent container of the clicked element
    var iframe = container.querySelector('iframe'); // Find the iframe within the container
    iframe.src = iframe.getAttribute('data-src');
    iframe.style.display = 'block';
    element.style.display = 'none';
	}
</script>

{{ end -}}
