<div class="widget-search widget">
    <form class="widget-search__form" onsubmit="return handleSearch(event);">
        <label>
            <input id="searchInput" class="widget-search__field" type="search" placeholder="{{ T "search_placeholder" }}" value="" name="q" aria-label="{{ T "search_placeholder" }}">
        </label>
        <input class="widget-search__submit" type="submit" value="Search">
    </form>
    <script>
        function handleSearch(event) {
            event.preventDefault();
            var searchQuery = document.getElementById('searchInput').value;
            gtag('event', 'Search Page Query - UT', {
                'search_term': searchQuery
            });
            event.target.submit();
        }
    </script>
</div>
