{{- if .Site.Params.youtube.video_id }}
<div class="widget-youtube widget">
    {{- $youtubeVideoID := .Site.Params.youtube.video_id }}
    <div class="widget-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ $youtubeVideoID }}?autoplay=1&controls=1&loop=1&cc_load_policy=1&playsinline=1" frameborder="0" 
		allow="accelerometer;
		autoplay;
		clipboard-write;
		encrypted-media;
		gyroscope;
		picture-in-picture"
		allowfullscreen></iframe>
    </div>
</div>
{{- end }}
