.recentArticleSplashImage {
	display: none;
}

.recentArticleItemHeadline {
	font-size: 0.95em;
}

.recentArticleItem {
	margin-bottom: 0.05em;
	border-top: 0.05em solid #0f171a;
}

.recentArticlesContainer li:last-child {
	margin-bottom: 1em;
}
