.mainTrendingArticlesHomepage {
	display: grid;
	grid-template-columns: repeat(8, auto);
	grid-template-rows: repeat(8, auto);
}

.mainTrendingArticlesSectionHeadline {
	grid-column: 1 / -1;
	text-align: center;
}

.mainTrendingArticles {
	grid-column: 1 / -1;
	grid-row: 2 / -1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.mainTrendingArticlesItem {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(8, auto);
	grid-template-rows: repeat(8, auto);
}

.mainTrendingArticlesSplashImageLink {
	grid-column: 1 / -1;
	grid-row: 3;
	height: 100%;
	width: auto;
}

.mainTrendingArticlesSplashImage {
	grid-column: 1 / 1;
	width: 98%;
	/* border-bottom: 0.05em solid #0f171a; */
}

.mainTrendingArticlesheadline {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	z-index: 1;
	align-self: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-top: 0.05em solid #0f171a;
}

