* {
	margin: 0em;
	padding: 0em;
	font-family: Poppins, sans-serif;
	color: #0F171A;
	box-sizing: border-box;
}
body {
	margin: 0em;
	padding: 0em;
	font-size: 1.25em;
	font-weight: 300;
	background-color: #F0F2F1;
	/* font-size: 20px; */
	/* background-color: #C1C1C1; */
}
a {
	text-decoration: none;
	color: inherit;
	outline: none;
}
ul {
	list-style-type: none;
	list-style: none;
}
li {
	list-style: none;
}
h1 {
	font-weight: 900;
}
h2 {
	font-weight: 800;
}
p {
	font-size: 1.05em;
	line-height: 1.5em;
}
/*
.header-container {
	box-sizing: border-box;
  	grid-column: 1 / -1;
	background-color: #0E171B;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 1em;
}
.site-title {
	grid-column: 1/ -1;
	grid-row: 1/ 1;
	justify-items: center;
	justify-self: center;
	font-weight: 900;
	font-size: 96px;
	color: #37C1DE;
	padding: 0px;
	margin: 0px;
}
.main-menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainMenuItem {
	font-size: 24px;
	font-weight: 900;
	color: #EAECEB;
	margin-right: 28px;
}
.mainMenuItemLink.active {
	text-decoration: underline solid #FECC61 5px;
}
*/
/*
.footer-container {
  	grid-column: 1 / -1;
	grid-row-start: 20;
	background-color: #0e171b;
	color: #eaeceb;
}
*/
