{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{ partial "post_thumbnail.html" (dict "class" "post" "page" . "site" .Site ) }}
		{{- with .Content }}
		<div class="content main__content clearfix">
			{{ . }}
		</div>
		{{ end }}
		<br>
		<br>
		{{ range .Pages }}
		{{- .Render "summary" }}
		{{ end }}
		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
</main>
{{ end }}

