.left-sidebar {
	display: grid;
	grid-template-rows: repeat(24, minmax(min-content, auto));
	grid-template-columns: repeat(24, minmax(min-content, auto));
	max-width: 300px;
	grid-column: 1/span 6;
	grid-row: 6/ span 24;
}

.top-posts-homepage-container {
	display: grid;
	grid-template-rows: repeat(24, minmax(min-content, auto));
	grid-template-columns: repeat(24, minmax(min-content, auto));
	padding-left: 0.05em;
}

.top-post-header {
	grid-column: 1/span 6;
	grid-row: 1/ span 1;
	justify-self: center;
	align-self: center;
	font-weight: 900;
	font-size: 48px;
	color: #0F171A;
}

.top-posts-list {
	grid-column: 1/span 6;
	grid-row: 2/ span 24;
}

.top-post-item-header-image {
	display: grid;
	grid-template-rows: repeat(60, 5px);
	grid-template-columns: repeat(60, 5px);
	max-width: 300px;
	max-height: 300px;
}

.author-by {
	color: #EDF1F0;
	font-weight: 200;
	font-size: 18px;
	grid-row: 48/ span 10;
	grid-column: 17/span 40;

}

.post-author {
	color: #84D6E8;
	font-weight: 900;
	font-size: 18px;
	grid-row: 48/ span 10;
	grid-column: 23/span 40;

}

.top-post-date {
	color: #84D6E8;
	font-weight: 500;
	font-size: 18px;
	grid-row: 53/ span 10;
	grid-column: 35/span 40;
}

.top-post-headline-highlighted-word {
	color: #3EC9E4;
}

.top-post-continue {
	font-size: 24;
	font-weight: 900;
	color: #FFCD6D;
}

.top-post-blurb {
	font-size: 18px;
	font-weight: 200;
	line-height: 159.5%;
	display: inline;
}

.top-post-headline {
	font-size: 28px;
	font-weight: 900;
	color: #0F171C;
	line-height: 115%;
	margin-top: 0.15em;
	margin-bottom: 0.25em;
}


.top-post-item {
	margin-bottom: 0.8em;
}
