<h2 class="top-post-header">TOP POSTS</h2>
{{ $limit := 150 }}
<ul class="top-posts-list">
	{{ range .Site.RegularPages }}
	{{ if .Params.topPost }}
	<li class="top-post-item">
		<a class="top-post-header-image-link" href="{{ .Permalink }}">
			{{ $pageTitle := .Title | urlize }}

			{{ $image := .Resources.GetMatch "feature.jpg" }}
			{{ $LJPG := $image.Fill "600x600 smart q85" }}
			{{ $LJPGFILENAME := printf "%s-top-post-image-large.jpg" $pageTitle }}
			{{ $largeJPG := $LJPG | resources.Copy $LJPGFILENAME }}
			{{ $MJPG := $image.Fill "300x300 smart q70" }}
			{{ $MJPGFILENAME := printf "%s-top-post-image-medium.jpg" $pageTitle }}
			{{ $mediumJPG := $LJPG | resources.Copy $MJPGFILENAME }}
			{{ $SJPG := $image.Fill "150x150 smart q55" }}
			{{ $SJPGFILENAME := printf "%s-top-post-image-small.jpg" $pageTitle }}
			{{ $smallJPG := $LJPG | resources.Copy $SJPGFILENAME }}

			{{ $LWEBP := $image.Fill "600x600 smart webp q85" }}
			{{ $LWEBPFILENAME := printf "%s-top-post-image-large.webp" $pageTitle }}
			{{ $largeWEBP := $LJPG | resources.Copy $LWEBPFILENAME }}
			{{ $MWEBP := $image.Fill "300x300 smart webp q70" }}
			{{ $MWEBPFILENAME := printf "%s-top-post-image-medium.webp" $pageTitle }}
			{{ $mediumWEBP := $LJPG | resources.Copy $MWEBPFILENAME }}
			{{ $SWEBP := $image.Fill "150x150 smart webp q55" }}
			{{ $SWEBPFILENAME := printf "%s-top-post-image-small.webp" $pageTitle }}
			{{ $smallWEBP := $LJPG | resources.Copy $SWEBPFILENAME }}
			<picture>
				<source type="image/webp" 
					srcset="{{ $smallWEBP.RelPermalink }} 100w,
						{{ $mediumWEBP.RelPermalink }} 200w,
						{{ $largeWEBP.RelPermalink }} 400w" 
					sizes="(max-width: 400px) 100vw, 400px">

				<source type="image/jpeg" 
					srcset="{{ $smallJPG.RelPermalink }} 100w,
						{{ $mediumJPG.RelPermalink }} 200w,
						{{ $largeJPG.RelPermalink }} 400w" 
					sizes="(max-width: 400px) 100vw, 400px">

				<img class="top-post-header-img"
				     src="{{ $largeJPG.RelPermalink }}" 
				     alt="{{ $pageTitle }}" 
				     style="width:auto;max-width:100%;">
			</picture>
		</a>
		<h2 class="top-post-headline"><a class="top-post-headline-link" href="{{ .Permalink }}">{{ .Title }}</a></h2>
		<p class="top-post-intro">{{ truncate $limit ""  .Content | plainify | safeHTML }}</p>
	</li>
	{{ end }}
	{{ end }}
</ul>
