  <h2 class="recent-posts-headline">Recent Posts</h2>
  <ul class="recent-posts-list">
    {{ range . }}
    <li class="recent-post-item">
        <div class="recent-post-image-container">
          <a href="{{ .Permalink }}" class="recent-post-image-link">

	    {{ $_tmp := .Resources.GetMatch "feature*" }}
	    {{ if $_tmp }}
	    {{ $feature := $_tmp.Fill "125x125 Smart webp q30" }}
	    {{ $alt_ := replaceRE " " "-" (lower .Title) }}
	    <img class="recent-post-thumbnail-image-125x125" src="{{$feature.Permalink}}" alt="{{ $alt_ }}_featured-image" width=125px height=125px>
	    {{ end }}

          </a>
        </div>
        <div class="recent-post-text-container">

       {{ $maxLength := 60 }}
       {{ $__t := truncate $maxLength "" .Title}}

	<h2 class="recent-post-post-headline"><a href="{{ .Permalink }}" class="recent-post-title-link">{{ $__t }}</h2></a>
          <p class="recent-post-authors-list">
	  {{/*
            By: 
            {{ range $index, $element := .Params.authors }}
              {{ if $index }}, {{ end }}<a href="#_authors_page">{{ $element }}</a>
            {{ end }}
	    */}}
          </p>
        </div>
    </li>
    {{ end }}
  </ul>
