
/*
.left-sidebar {
	display: grid;

	grid-template-rows: repeat(24, minmax(min-content, auto));
	grid-template-columns: repeat(6, minmax(min-content, auto));
	max-width: 300px;

	margin: 0px;
	margin-left: 0.15em;
	padding: 0px;

	grid-column: 1/span 6;
	grid-row: 5/span 24;
}

.top-post-header {
	font-weight: 900;
	font-size: 48px;

	grid-column: 0/span 24;
	grid-row: 1/span 1;
}

.top-posts-list {
	grid-column: 0/span 24;
	grid-row: 2/span 24;
}

.top-post-item-header-image {
	display: grid;
	grid-template-rows: repeat(24, minmax(min-content, auto));
	grid-template-columns: repeat(24, minmax(min-content, auto));

	grid-column: 1/span 24;
	grid-row: 1/span 24;
}

.top-post-item-image {
}

.author-by {
	font-weight: 100;
	font-size: 14px;
	color: #EDF1F0;
}

.post-author {
	font-weight: 800;
	font-size: 14;
	color: #84D6E8;
}

.top-post-date {
	font-weight: 400;
	font-size: 11px;
	color: #84D6E8;

	grid-column: 1/span 6;
	grid-row: 2/span 8;
}

.top-post-headline-intro {
	color: #0F171C;
}

.top-post-headline {
	font-weight: 900;
	font-size: 24px;
	color: #0F171C;
}

.top-post-headline-highlighted-word {
	color: #84d6e8;
}

.top-post-blurb {
	font-weight: 300;
	font-size: 12px;
}

.top-post-continue {
	font-weight: 900;
	font-size: 12px;
	color: #FFCD6D;
}

.top-post-item {
	margin-bottom: 26px;
}
*/
