<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ItemList",
  "name": "{{ .Site.Title }} blogroll",
  "itemListElement": [
    {{- $totalPosts := len .Data.Pages -}}
    {{- range $index, $post := .Data.Pages -}}
    {
      "@type": "ListItem",
      "position": {{ add $index 1 }},
      "name": "{{ printf "%s - %s" .Title .Site.Title }}",
      "url": "{{ $post.Permalink }}"
    }{{- if lt $index (sub $totalPosts 1) }},{{ end -}}
    {{- end -}}
  ]
}
</script>
