{{/* Prepare common variables */}}
{{ $baseURL := .Site.BaseURL }}
{{ $data := .Site.Data.combined }}
{{ $title := .Title }}
{{ $org := .Site.Data.schema.organization.organization }}

{{ if and (eq .Kind "page") (eq .Type "posts") }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ $org.name }}",
  "alternateName": "{{ $org.alternateName }}",
  "description": "{{ $org.description }}",
  "url": "{{ $baseURL }}",
  "logo": "{{ $baseURL }}{{ $org.logo }}",
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "{{ $org.contactEmail }}",
    "contactType": "customer service"
  },
  "sameAs": [
    {{ range $index, $url := $org.sameAs }}
      {{ if $index }},{{ end }}"{{ $url }}"
    {{ end }}
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "{{ default "BlogPosting" .Params.content_type }}",
  "name": "{{ $title }}",
  "headline": "{{ $title }}",
  "author": [
    {{ range $index, $author := .Params.authors }}
      {{ if $index }},{{ end }}
      {
        "@type": "Person",
        "name": "{{ $author }}",
        "url": "{{ with index $.Site.Data.authors $author }}{{ $baseURL }}authors/{{ .link }}{{ end }}"
      }
    {{ end }}
  ],
  "publisher": {
    "@type": "Organization",
    "name": "{{ $org.name }}",
    "logo": "{{ $baseURL }}{{ $org.logo }}",
    "url": "{{ $baseURL }}"
  },
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
  "description": "{{ .Description }}",
  "image": "{{ $baseURL }}optimized/{{ $title | urlize }}-HMJPEG.jpeg"
}
</script>
{{ else }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ $org.name }}",
  "alternateName": "{{ $org.alternateName }}",
  "description": "{{ $org.description }}",
  "url": "{{ $baseURL }}",
  "logo": "{{ $baseURL }}{{ $org.logo }}",
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "{{ $org.contactEmail }}",
    "contactType": "customer service"
  },
  "sameAs": [
    {{ range $index, $url := $org.sameAs }}
      {{ if $index }},{{ end }}"{{ $url }}"
    {{ end }}
  ]
}
</script>
{{ end }}

